# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflowadmin
POSTGRES_DB=airflow

# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin123
AIRFLOW_FERNET_KEY=
AIRFLOW_SECRET_KEY=
AIRFLOW_JWT_SECRET=

# BookStack
BOOKSTACK_URL=http://bookstack-sp156:80
BOOKSTACK_TOKEN_ID=
BOOKSTACK_TOKEN_SECRET=
BOOKSTACK_APP_KEY=base: coloque-aqui

DB_USERNAME=admin
DB_PASSWORD=senha-forte-123

# Mariadb
MYSQL_USER=admin
MYSQL_PASSWORD=senha-forte-123
MYSQL_ROOT_PASSWORD=